* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

body {
  width: 100%;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.item-mod {
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  border: 0.5px solid #757575;
  margin-bottom: 1px;
  cursor: pointer;

  &:hover {
    background: #e0e0e0;
  }
}

.my-select {
  display: flex;
  flex-direction: column;
  align-items: center;

  .plashka {
    margin-bottom: 10px;
    background: #bdbdbd;
  }

  .search-items {

    .select-items {
      display: flex;
      flex-direction: column;

      .cities {

      }
    }
  }
}
